<nb-card accent="info" *ngIf="showInput">
    <nb-card-body>
        <div class="row">
            <div class="col-9">
                <span class="caption-2">Nama Soal</span>
                <input type="text" nbInput fullWidth placeholder="Nama Soal" [(ngModel)]="namaSoal">
            </div>
            <div class="col-2">
                <span class="caption-2">Waktu Pengerjaan (menit)</span>
                <input type="number" nbInput fullWidth placeholder="Waktu Pengerjaan" [(ngModel)]="waktuPengerjaan">
            </div>
            <div class="col-1">
                <span class="caption-2">&nbsp;</span>
                <button nbButton fullWidth status="primary" (click)="tambahData()">Simpan <nb-icon icon="plus">
                    </nb-icon></button>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-4">
                <span class="caption-2">Nama Soal</span>
                <input type="text" nbInput fullWidth placeholder="Nama Soal" [(ngModel)]="searchModel.namaSoal">
            
            </div>
            <div class="col-3">
                <span class="caption-2">Author</span>
                <input type="text" nbInput fullWidth placeholder="Nama Soal" [(ngModel)]="searchModel.author">
            </div>

            <div class="col-2">
                <span class="caption-2">Waktu Pengerjaan</span>
                <input type="number" nbInput fullWidth placeholder="Waktu Pengerjaan" [(ngModel)]="searchModel.waktuPengerjaan">
            </div>
            <div class="col-1">
                <span class="caption-2">&nbsp;</span>
                <button nbButton fullWidth status="primary" (click)="getData()">Cari</button>
            </div>
            <div class="col-2">
                <span class="caption-2">&nbsp;</span>
                <button nbButton fullWidth [status]="showInput ? 'danger' : 'success'" (click)="showInput = !showInput;">{{showInput ? "Batal" : "Tambah Soal"}}</button>
            </div>
        </div>

        <ngx-datatable class="material" [rows]="rows" columnMode="force" [headerHeight]="50" [scrollbarH]="true"
            [footerHeight]="50" rowHeight="auto" [reorderable]="true" [limit]="10"
            [loadingIndicator]="loadingIndicator">

            <ngx-datatable-column name="Nama Soal" prop="namaSoal"></ngx-datatable-column>
            <ngx-datatable-column name="Author" prop="createdBy"></ngx-datatable-column>
            <ngx-datatable-column prop="waktuPengerjaan" name="Waktu Pengerjaan (menit)"></ngx-datatable-column>
            <ngx-datatable-column prop="status"></ngx-datatable-column>
            <ngx-datatable-column name="#" prop="isiNodin" [width]="100">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="grid-action">
                        <button nbButton shape="round" size="small" status="danger"
                            (click)="hapusData(row)">Hapus</button>
                        <button nbButton shape="round" size="small" status="info" (click)="inputPertanyaan(row)">Tambah
                            Pertanyaan</button>
                    </div>


                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

    </nb-card-body>

</nb-card>