// font
// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // body {
  //   font-family: $defaut_font;
  // }
  // framework global styles
  @include nb-theme-global();
  @include ngx-layout();
  @include nb-overrides();


  .error-input {
    font-size: 10px;
    font-style: italic;
    color: rgb(255, 75, 75);
    font-weight: 800;
  }

}

;

.footer-action {
  display: flex;
  justify-content: flex-end;

  button {
    min-width: 100px;
    margin: 0 10px;
  }
}

.marking-label-red {
  color: rgb(255, 90, 90);
  font-size: 10px;
  font-weight: bolder;
}

.container-1 {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.custom-card {
  width: 30vw;
  height: 60vh;
  background-color: white;
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 150px;
    margin-bottom: 20px;

  }
}


// dekstop
@media screen and (min-width: 1024px) {}

// tablet
@media screen and (min-width: 768px) and (max-width:1023px) {}

// phone
@media screen and (max-width:767px) {
  .footer-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      min-width: 70px;
      margin: 10px 10px;
    }
  }

  .custom-card {
    width: 100vw;
    height: 90vh;
    
  
    img {
      width: 100px;
      margin-bottom: 20px;
  
    }
  }
}
