<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../../assets/photo-1443996104801-80c82e789b18.jfif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../../assets/photo-1445452916036-9022dfd33aa8.jfif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../../assets/photo-1505839673365-e3971f8d9184.jfif" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>