<div class="container-1">
    <div class="custom-card">

        <img src="../../../../../assets/image/forgot-password-100.png" alt="password">

        <div class="row">
            <div class="col-12" style="margin-bottom: 10px;">
                <!-- <input type="text" nbInput fullWidth fieldSize="giant" [(ngModel)]="email" (blur)="checkEmail()" placeholder="Masukkan Email anda disini"> -->
                <nb-form-field>
                    <input fullWidth nbInput placeholder="Masukkan Email anda disini"
                        (keyup)="$event.keyCode == 13 ? checkEmail() : null" [(ngModel)]="email">
                    <button nbSuffix nbButton ghost (click)="checkEmail()">
                        <nb-icon icon="search-outline" pack="eva"></nb-icon>
                    </button>
                </nb-form-field>
            </div>

            <div class="col-12">
                <button nbButton hero fullWidth status="info" [disabled]="isSubmitDisabled" (click)="submit()">Submit</button>
            </div>
        </div>

    </div>
</div>