<nav class="web-navbar">
    <div class="container">
        <span class="logo">
            <span>Rekrutmen Online</span>
            
        </span>
        <div class="menu">
            <a routerLink="beranda">Beranda</a>
            <!-- <a>Tentang</a>
            <a>Informasi</a> -->
            <a routerLink="lowongan">Lowongan</a>
        </div>
    </div>
</nav>


<div class="web-content-container">
    <div class="container-grid">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="misc"></div>
        <div class="misc-1"></div>
      </div>
    
</div>
